{% extends 'base.html' %}
{% block container %}
    {% load static %}

    <!-- Services header -->
    <section class="row" id="tmServices">
        <div class="col-12">
            <div class="parallax-window tm-services-parallax-header"
                 data-parallax="scroll"
                 data-z-index="101"
                 data-image-src="img/coffee-glass.jpg">

                <div class="tm-bg-black-transparent text-center tm-services-header">
                    <h2 class="text-uppercase tm-services-page-title">Bizning xizmatlar</h2>
                    <p class="tm-services-description mb-0 small">
                        Bu parallax harakati fon tasviri "kofe shishasi".
                        Biz hech kimga hizmat qilmaymiz
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="tm-bg-black-transparent tm-services-detail-box">
                <p>
                    Aenean convallis justo purus, id pulvinar enim finibus vitae. Fusce et bibendum nisi, vitae mollis
                    turpis. Aliquam tellus mi, maximus vel orci
                    imperdiet, convallis cursus tortor. Donec sollicitudin metus sit amet nisl rhoncus, id ultrices
                    risus interdum. Proin mollis nulla nulla, ac cursus enim ornare a. Cras quis porta lectus.
                    Pellentesque eu ultrices arcu. Proin ac tristique dui. Praesent mi odio, aliquam ac leo sit amet,
                    dictum sodales diam.
                </p>
                <p>
                    Quisque commodo, orci eget suscipit vestibulum, metus orci fringilla urna, eget dignissim justo odio
                    sit amet tellus. Morbi dapibus molestie
                    massa nec congue. Etiam lacinia pretium psuere. Integer sodales porttitor lobortis. Nam vestibulum
                    vestibulum lectus non pulvinar.
                    Vivamus eget sapien vitae magna lobortis rhoncus molestie sit amet est. Fusce ultrices justo vitae
                    blandit consequat.
                </p>
            </div>
        </div>

        <div class="col-12 tm-tabs-container">
            <div class="tm-tab-links">
                <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                    {% for xizmat in xizmatlar %}
                        <li>
                            <a href="#tab{{ xizmat.xizmatturi }}" {% if forloop.first %}class="active"{% endif %}>
                                <div class="icon-wrap"><i class="fas fa-2x fa-leaf"></i></div>
                                {{ xizmat.narxi }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="tm-tab-contents">
            <div id="first-tab-group" class="tabgroup">
                <div id="tab1">
                    {% for xizmat in xizmatlar %}
                        <div class="{{ xizmat.nomi }}">
                            <h3 class="tm-service-tab-title">{{ xizmat.xizmatturi }}</h3>
                            <p class="tm-service-tab-p">{{ xizmat.narxi }}
                            </p>
                            <p class="mb-0">{{ xizmat.ishsoati }}
                            </p>
                        </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
<!-- .container-fluid -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $('.tabgroup > div').hide();
        $('.tabgroup > div:first-of-type').show();
        $('.tabs a').click(function (e) {
            e.preventDefault();
            var $this = $(this),
                tabgroup = '#' + $this.parents('.tabs').data('tabgroup'),
                others = $this.closest('li').siblings().children('a'),
                target = $this.attr('href');
            others.removeClass('active');
            $this.addClass('active');
            $(tabgroup).children('div').hide();
            $(target).show();

            // Scroll to tab content (for mobile)
            if ($(window).width() < 992) {
                $('html, body').animate({
                    scrollTop: $("#first-tab-group").offset().top
                }, 200);
            }
        })
    });

</script>
</body>
</html>
